<!DOCTYPE html>
<html lang='en'>
<head>
 <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />

<!-- BOOTSTRAP CSS -->
<link
href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
rel="stylesheet" />

<!-- MD CSS -->
<link rel='stylesheet' href='{{ css_path }}md.css' />

<!-- JQUERY -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<!-- BOOTSTRAP JSCRIPT -->
<script
src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- POPOVER SCRIPT -->
<script>
function enablePopOvers() {
  $('.reference_number').each( function(index, E) {
    var target = document.getElementById($(E).attr('href').slice(1));
    jqT = $(target)
    var target_type = jqT.attr('type');
    var target_number = jqT.attr('id');
    var target_content = ""
    $(target.children).not('.block_heading').each(function() {
      target_content += $(this).html();
    });
    var title = "<span class='block_heading' type='"+target_type+"'>"+
            "<span class='block_number'>"+target_number+"</span>"+
	    "</span>";
    jqE = $(E)
    jqE.attr('data-content',target_content);
    jqE.attr('data-html',true);
    jqE.attr('data-trigger','hover');
    jqE.attr('data-title',title)
  });
  $('.reference_number').popover();
}
jQuery(document).ready( function () {
  MathJax.Hub.Queue(function() {
    enablePopOvers();
  });
})

function toggleToc() {
  var toc = this.document.getElementById('toc');
  if (toc.classList.contains('showtoc')) {
    toc.classList.remove('showtoc');
    toc.classList.add('hidetoc');
  } else {
    toc.classList.remove('hidetoc');
    toc.classList.add('showtoc');
  }
}

$(window).scroll(function () {
    if ($(window).scrollTop() > 200) {
        $("nav").addClass('smallnav');
        $("#toc").addClass('smallnav');
    }
    else {
        $("nav").removeClass('smallnav');
        $("#toc").removeClass('smallnav');
    }
});

</script>

<!-- MATHJAX -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-
MML_HTMLorMML"></script>

<style>
{% autoescape off %}

{{ headings_css }}

{% endautoescape %}
</style>

{% if title %}
<title> {{ title }} </title>
{% endif %}{% if author %}
<meta name='Author' content='{{ author }}' />
{% endif %}{% if subject %}
<meta name='Subject' content='{{ subject }}' />
{% endif %}{% if keywords %}
<meta name='keywords' content='{{ keywords }}' />
{% endif %}
</head>
<body>

{% if title %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span class='title'>{{ title }}</span>

      {% if author %}
      <h5 class='author'><i> {{ author }}</i></h5>
      {% endif %}
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
      {% if toc %}
      <li><a onclick='toggleToc();'><span class="glyphicon glyphicon-align-justify"></span></a></li>
      {% endif %}
  </ul>
</nav>


{% endif %}

{% if toc %}
<div id='toc' class='hidetoc toc'>
<h4> Table of Contents </h4>
{% autoescape off %}
{{ toc }}
{% endautoescape %}
</div> <!-- toc -->
{% endif %}

<div id='article'>

{% autoescape off %}
{{ content }}
{% endautoescape %}

</div> <!-- article -->

</body>
</html>
