<!DOCTYPE html>
<html lang='en'>
<head>
 <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />

<!-- BOOTSTRAP RESPONSIVE LAYOUT -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- BOOTSTRAP CSS -->
<link
href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
rel="stylesheet" />




<!-- MD CSS -->
<link rel='stylesheet' href='{{ css_path }}md.css' />

<!-- JQUERY -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<!-- BOOTSTRAP JSCRIPT -->
<script
src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!-- POPOVER SCRIPT -->
<script>
function enablePopOvers() {
  $('.reference_number').each( function(index, E) {
    try {
        var target = document.getElementById($(E).attr('href').slice(1));
        jqT = $(target)
        var target_type = jqT.attr('type');
        var target_number = jqT.attr('id');
        var target_content = ""
        $(target.children).not('.block_heading').each(function() {
            target_content += $(this).html();
        });
        var title = "<span class='block_heading' type='"+target_type+"'>"+
                    "<span class='block_number'>"+target_number+"</span>"+
                    "</span>";
        jqE = $(E)
        jqE.attr('data-content',target_content);
        jqE.attr('data-html',true);
        jqE.attr('data-trigger','hover');
        jqE.attr('data-title',title)
    } catch (err) {
      return
    }
  });
  $('.reference_number').popover();
}

function hideTOC() {$('#toc').removeClass('showtoc');$('#toc').addClass('hidetoc');}
function showTOC() {$('#toc').removeClass('hidetoc');$('#toc').addClass('showtoc');}

function toggleToc() {
  var toc = this.document.getElementById('toc');
  if (toc.classList.contains('showtoc')) hideTOC();
  else showTOC();
}

$(window).scroll(function () {
    if ($(window).scrollTop() > 200) {
        $("nav").addClass('smallnav');
        $("#toc").addClass('smallnav');
    }
    else {
        $("nav").removeClass('smallnav');
        $("#toc").removeClass('smallnav');
    }
});

</script>

<!-- MATHJAX -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
  "HTML-CSS": {
    scale: 80,
    linebreaks: {
        automatic:true
    }
  }
});
</script>
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-
MML_HTMLorMML"></script>
<script>
  MathJax.Hub.Queue(function() {
    enablePopOvers();
  });
</script>

<style>
{% autoescape off %}

{{ headings_css }}

{% endautoescape %}
</style>

{% if title %}
<title> {{ title }} </title>
{% endif %}{% if author %}
<meta name='Author' content='{{ author }}' />
{% endif %}{% if subject %}
<meta name='Subject' content='{{ subject }}' />
{% endif %}{% if keywords %}
<meta name='keywords' content='{{ keywords }}' />
{% endif %}
</head>
<body>

{% if title %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
    <a class="navbar-brand" href="#">
      <span class='title'>{{ title }}</span>

      {% if author %}
      <h5 class='author'><i> {{ author }}</i></h5>
      {% endif %}
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
      {% if pdf or bib %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download<b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% if pdf %}
          <li><a style='font-size:9pt;' href='{{cdn}}{{pdf}}'>Version for print (PDF)</a></li>
          {% endif  %}
          {% if bib %}
          <li><a href='{{cdn}}{{bib}}'>Bibliography (BibTeX)</a></li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      {% if toc %}
      <li><a onclick='toggleToc();'>
        <span class="glyphicon glyphicon-align-justify visible-md visible-sm visible-lg"></span>
        <span class="visible-xs">Contents</span>
      </a></li>
      {% endif %}
  </ul>
  </div>
</nav>


{% endif %}

{% if toc %}
<div id='toc' class='hidetoc toc'>
<div style='padding-top:5em' class='visible-xs'>&nbsp;</div>
<h4> Table of Contents </h4>
{% autoescape off %}
{{ toc }}
{% endautoescape %}
</div> <!-- toc -->
{% endif %}

<div id='article'>

{% autoescape off %}
{{ content }}
{% endautoescape %}

</div> <!-- article -->

</body>
</html>
